.Contact {
  text-align: center;
  height: 100vh;
  h1 {
    margin-bottom: 30px;
  }
  input {
    margin: 20px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #fff;
  }
  button {
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #fff;
    cursor: pointer;
  }
  .Link {
    text-decoration: none;
    color: black;
  }
}
