.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  h1 .Link {
    filter: drop-shadow(4px 4px 7px #000000ad);
    color: #fff;
    text-decoration: none;
  }
  .ul_pages {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    li {
      cursor: pointer;
      .Link {
        filter: drop-shadow(4px 4px 7px #000000ad);
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .sing_up {
    border: none;
    background: #fa8443;
    border-radius: 8px;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .NavBar {
    padding: 10px;
    gap: 20px;
    h1 {
      font-size: 25px;
    }

    .sing_up {
      display: none;
    }
  }
}
