.Section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 30px;
  font-size: 25px;
  h3 .Link {
    text-decoration: none;
    color: #333333;
    border-bottom: 1px solid #000;
    cursor: pointer;
    transition: all 0.35s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
