.Section {
  display: flex;
  align-items: center;
  justify-content: center;
  .form label {
    font-size: 20px;
    font-weight: bold;
  }
  .form input {
    margin: 10px;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid rgba(110, 199, 224, 0.4509803922);
    background-color: #fff;
    outline: none;
  }
}
