.CardListActivities {
  max-width: 300px;
  min-height: 200px;
  background: rgba(220, 217, 217, 0.638);
  border: 1px solid #ffffff;
  border-radius: 16px;
  padding: 20px;
  cursor: pointer;

  h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
  }
}
